@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme {
    --font-project: "Poppins", sans-serif;
}

.zero {
    @apply animate-bounce
}
.um {
    @apply animate-ping
}
.dois {
    @apply animate-pulse
}
.tres {
    @apply animate-spin
}

.quatro {
    animation: quatro 1.5s infinite;
}

@keyframes quatro {
    from, to {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }
}

.activado {
    @apply h-auto opacity-[1] p-[10px]
}

html{

    @apply bg-black
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track, 
body::-webkit-scrollbar-track {
    background: #1C2026;
}

html::-webkit-scrollbar-thumb, 
body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 8px;
}

.arrastando {
    @apply opacity-[0.5] shadow-none
}

.fundo {
    @apply bg-gray-300
}

.ground {
    @apply bg-blue-400 text-white
}
